/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: #ffcca5;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 150px;
}

#back {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #FFD4B2;
    background-color: #fff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #ffefe3 solid;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 5px;
}

h1 {
    margin-top: 15px;
    text-align: center;
}

/* Background2 section styles */
.background2 {
    padding: 50px 0;
    text-align: center;
}

.background2 h2 {
    margin-bottom: 40px;
}

.background2 div {
    background-color: #f0f1be;
    border-radius: 100px;
    padding: 30px;
    margin: 0 auto 3%;
    max-width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0.5, 0.5, 0.5);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.background2 section {
    background: #FFD4B2;
    color: #fff; 
    width: 150px; 
    height: 150px; 
    border-radius: 100px;
    text-align: center;
    padding-top: 3.5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

/* Background3 section styles */
.background3 {
    background-color: #f0f1be;
    padding: 50px 0;
    text-align: center;
}

.background3 h2 {
    margin-bottom: 40px;
}

.background3 div {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0.5, 0.5, 0.5);
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        height: auto;
        padding: 20px;
    }

    .background2 div,
    .background3 div {
        margin: 20px;
    }

    #back {
        font-size: 18px;
        padding: 5px 10px;
    }
}
